div.bg-uni-store { width:842px;background:url(../image/uni-store/bg-uni-store.png);margin:0px 0px 10px 0px; }
div.bg-uni-store-top { width:842px;background:url(../image/uni-store/bg-uni-store-top.png) top left no-repeat; }
div.bg-uni-store-bottom { width:842px;background:url(../image/uni-store/bg-uni-store-bottom.png) bottom left no-repeat; }

/* Title */

div.bg-uni-store h1 { height:36px;color:#fff;font-family;Francois One;font-size:20px;padding:14px 21px 0px 21px;margin:0px; }

/* Text */

.text { font-family:Arial;color:#353535;font-size:12px;line-height:18px;padding:10px 31px 22px 31px; }
.text h3 { clear:both;font-family:Francois One;font-size:15px;color:#303030;font-weight:normal;padding:18px 0px 0px 0px;margin:0px 0px -4px 0px;position:relative; }
.own_image { width:70px;height:102px;background:url(../image/uni-store/own_image.png) no-repeat;cursor:pointer; }
.own_image img { width:70px;height:70px; }
.own_pattern { margin-right:50px;width:70px;height:102px;background:url(../image/uni-store/own_image.png) no-repeat;cursor:pointer; }
.own_pattern img { width:70px;height:70px; }

/* Inputs */

.text input[type=text], .text input[type='password'], .text textarea, .text select { height:21px;padding:0px 4px;background:#d9d9d9;border:none;border-top:1px solid #c1c1c1;border-left:1px solid #c1c1c1;border-radius:4px;-moz-border-radius:5px;-webkit-border-radius:5px;font-family:Arial;font-size:11px;color:#292929; }
div.left { float:left;width:370px; }
div.left > div { clear:both;padding:13px 0px 0px 0px; }
div.left > div p { float:left;padding:3px 0px 0px 0px;margin:0px; }
div.left > div .input { padding:0px 0px 0px 0px;float:right; }
div.right { float:left;width:370px;padding:0px 0px 0px 40px; }
div.right > div { clear:both;padding:13px 0px 0px 0px; }
div.right > div p { float:left;padding:3px 0px 0px 0px;margin:0px; }
div.right > div .input { padding:0px 0px 0px 0px;float:right; }
.separator { font-size:1px;line-height:1px;height:20px;clear:both;margin:0px;padding:0px;border-bottom:1px solid #d9d9d9;margin:0px 0px 10px 0px; }

/* Select color settings */

div.select-color-settings { height:99px;border-bottom:1px solid #d9d9d9;margin:0px 0px 20px 0px; }
div.select-color-settings p { float:left;padding:14px 19px 0px 0px;font-family:Francois One;font-size:20px;color:#303030; }
div.select-color-settings ul { list-style:none;float:left;width:430px;padding:0px;margin:0px; }
div.select-color-settings ul li { float:left;width:auto;padding:0px 10px 0px 0px;margin:0px; }
div.select-color-settings ul li img { width:60px;height:89px; }
div.select-color-settings ul li img:hover, div.select-color-settings ul li a.active img { width:50px;height:79px;border:5px solid #ff8a00; }

/* Buttons */

div.buttons { text-align:right; }
div.buttons .button-save { display:inline-block;width:59px;height:20px;background:url(../image/uni-store/bg-button-save.png) no-repeat;text-align:center;font-size:11px;font-weight:bold;color:#292929;font-family:Arial;text-decoration:none;text-transform:uppercase;padding:2px 0px 0px 0px;margin:0px 12px 0px 0px; }
div.buttons .button-cancel { display:inline-block;width:59px;height:20px;background:url(../image/uni-store/bg-button-cancel.png) no-repeat;text-align:center;font-size:11px;font-weight:bold;color:#292929;font-family:Arial;text-decoration:none;text-transform:uppercase;padding:2px 0px 0px 0px; }
