.jcarousel-skin-opencart .jcarousel-container {
	background: #fff;
	margin: 30px 0px 0px 0px;
	border: 1px solid #e6e6e7;
	border-radius:         2px;
	-moz-border-radius:    2px;
	-webkit-border-radius: 2px;
	position: relative;
}
.jcarousel-skin-opencart img {
	display: block;
	margin: 0px auto;
}
.jcarousel-skin-opencart .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-opencart .jcarousel-container-horizontal {
	padding: 10px 60px;
}
.jcarousel-skin-opencart .jcarousel-clip {
	overflow: hidden;
	width: 100%;
}
.jcarousel-skin-opencart .jcarousel-clip-horizontal {
}
.jcarousel-skin-opencart .jcarousel-item {
	text-align: center;
}
.jcarousel-skin-opencart .jcarousel-item-horizontal {
	margin-left: 0;
	margin-right: 10px;
}
.jcarousel-skin-opencart .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
	margin-right: 0;
}
.jcarousel-skin-opencart .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-opencart .jcarousel-next-horizontal,
.jcarousel-skin-opencart .jcarousel-prev-horizontal {
	position: absolute;
	top: 50%;
	margin-top: -14px;
	right: 20px;
	cursor: pointer;
	width: 28px;
	height: 28px;
	border-radius:         2px;
	-moz-border-radius:    2px;
	-webkit-border-radius: 2px;
	background: #43c6bc; /* Old browsers */
	background: -moz-linear-gradient(top, #43c6bc 0%, #59d4cc 0%, #43c6bc 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43c6bc), color-stop(0%,#59d4cc), color-stop(99%,#43c6bc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #43c6bc 0%,#59d4cc 0%,#43c6bc 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #43c6bc 0%,#59d4cc 0%,#43c6bc 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #43c6bc 0%,#59d4cc 0%,#43c6bc 99%); /* IE10+ */
	background: linear-gradient(to bottom, #43c6bc 0%,#59d4cc 0%,#43c6bc 99%); /* W3C */
}

	.jcarousel-skin-opencart .jcarousel-next-horizontal:before {
		content: "";
		background: url(../img/right.png) no-repeat;
		width: 8px;
		height: 14px;
		margin: 8px auto 0px auto;
		display: block;
	}
	
.jcarousel-skin-opencart .jcarousel-prev-horizontal {
	left: 20px;
}
	
	.jcarousel-skin-opencart .jcarousel-prev-horizontal:before {
		content: "";
		background: url(../img/left.png) no-repeat;
		width: 8px;
		height: 14px;
		margin: 8px auto 0px auto;
		display: block;
	}

@media (max-width: 767px) {
	.responsive .jcarousel-skin-opencart {
		display: none;
	}
}