@media (max-width: 960px) {
	.responsive .standard-body .full-width .container {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.responsive .standard-body .fixed .container {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.responsive .main-fixed .container {
		padding-left: 30px;
		padding-right: 30px;
	}
	
		.responsive .standard-body .container .container,
		.responsive .main-fixed .container .container {
			padding-left: 0px;
			padding-right: 0px;
		}
}

@media (max-width: 767px) {

	/* Row */
	
	.responsive .row {
		margin-left: -10px;
		margin-right: -10px;
	}
	
		.responsive .row > div {
			padding-left: 10px;
			padding-right: 10px;
		}

	.responsive .standard-body .full-width .container {
		padding: 0px 20px;
	}
	
	.responsive .standard-body .fixed {
		padding: 0px;
	}
	
		.responsive .standard-body .fixed .container {
			padding: 0px 20px;
		}
	
	.responsive .fixed-body {
		padding: 0px;
	}
	
		.responsive .main-fixed .container {
			padding: 0px 20px;
		}
		
		.responsive .standard-body .container .container {
			padding-left: 0px;
			padding-right: 0px;
		}
	
	/* Top Bar
	------------------*/
	
	.responsive #top-bar .container {
		text-align: center;
	}
	
		/* Top Bar -> Welcome text */
	
		.responsive #top-bar .welcome-text {
			padding: 3px 0px 1px 0px;
			
		}
		
		/* Top Bar -> Currency and Language */
		
		.responsive #top-bar form {
			float: none;
			display: inline-block;
		}
		
		.responsive #top-bar .dropdown {
			float: none;
			display: inline-block;
			margin: 3px 11px 1px 12px;
		}
		
		/* Top Bar -> Block Cart */
		
		.responsive #top-bar #cart_block {
			width: auto;
			display: block;
			margin-left: 0px;
			margin-right: 0px;
		}
			
			.responsive #top-bar #cart_block .dropdown-menu {
				right: 0;
				left: 0;
				width: 100%;
			}
		
	/* Top -> Logo */
	
	.responsive #top h1 {
		text-align: center;
	}
	
	/* Top -> Links */
	
	.responsive #top .header-links {
		text-align: center;
	}
	
		.responsive #top .header-links li {
			padding: 0px 7px;
		}
		
	/* Top -> Block Cart */
	
	.responsive #top #cart_block .dropdown-menu {
		width: 100%;
	}
	
		.responsive #top #header-right #cart_block .dropdown-menu:after {
			right: 50%;
			margin-right: -5px;
		}
		
		.responsive #top #header-right #cart_block .dropdown-menu:before {
			right: 50%;
			margin-right: -6px;
		}
	
	/* Top -> Right */
	
	.responsive #top #header-right {
		text-align: center;
	}
	
	/* Breadcrumb
	------------------*/
	
	.responsive .breadcrumb .container {
		padding-top: 0px !important;
	}

	/* Main Content
	------------------*/
	
	.responsive .main-content .container,
	.responsive .standard-body .main-content .container {
		padding-bottom: 20px;
	}
	
		/* Slider */
		
		.responsive .fullwidthbanner-container,
		.responsive .camera_wrap {
			margin-top: 20px !important;
		}
		
			.responsive #slider .fullwidth .fullwidthbanner-container,
			.responsive #slider .fullwidth .camera_wrap {
				margin-top: 0px !important;
			}
		
		/* Center column */
		
		.responsive .center-column {
			padding-top: 20px;
		}
	
		/* Banner */
		
		.responsive .banners > div {
			padding-top: 20px;
		}
		
		/* Block */
		
		.responsive .box {
			padding-top: 0px;
		}
		
		.responsive .inner-page .pattern > div > .row:first-child > div {
			margin-top: 0px !important;
		}
		
			.responsive .inner-page .pattern > div > .row:first-child > div {
				float: none;
			}
			
			.responsive .inner-page .pattern > div > .row:first-child > div:first-child {
				margin-top: -5px !important;
			}
		
		/* Product */
		
		.responsive .product-grid,
		.responsive .center-column .product-grid {
			margin-top: -20px;
		}
		
			.responsive .product-grid .product,
			.responsive .center-column .product-grid .product {
				margin-top: 20px;
			}
			
			.responsive .center-column .product-grid {
				margin-bottom: 20px;
			}
			
			.responsive .product-grid .row > div.col-xs-6:nth-child(odd) {
				clear: both;
			}
			
		/* Product for column left & right */
		
		.responsive .col-sm-3 .box > .prev,
		.responsive .col-sm-3 .box > .next,
		.responsive .col-sm-4 .box > .prev,
		.responsive .col-sm-4 .box > .next {
			display: block;
		}
		
		.responsive .col-sm-3 .products,
		.responsive .col-sm-4 .products {
			padding: 0px;
			border: none;
			background: none;
			border-radius:         0px;
			-moz-border-radius:    0px;
			-webkit-border-radius: 0px;
		}
			
			.responsive .col-sm-3 .carousel-indicators,
			.responsive .col-sm-4 .carousel-indicators {
				display: none;
			}
			
			.responsive .col-sm-3 .products .product-grid,
			.responsive .col-sm-4 .products .product-grid {
				margin: -20px 0px 0px 0px;
			}
			
			.responsive .col-sm-3 .products .row > div.col-xs-6,
			.responsive .col-sm-4 .products .row > div.col-xs-6 {
				width: 50%;
				margin: 0px;
			}
			
				.responsive .col-sm-3 .products .row > div .product,
				.responsive .col-sm-4 .products .row > div .product {
					margin-top: 20px;
					padding: 15px;
					text-align: center;
					border: 1px solid #e6e6e7;
				}
				
					.responsive .col-sm-3 .products .row > div .product .left,
					.responsive .col-sm-4 .products .row > div .product .left {
						float: none;
						width: 100%;
					}
					
					.responsive .col-sm-3 .products .row > div .product .right,
					.responsive .col-sm-4 .products .row > div .product .right {
						float: none;
						width: 100%;
						margin-left: 0%;
						padding-top: 0px;
					}
					
		/* Product list */
		
		.responsive .product-list > div {
			margin-bottom: 20px;
		}
		
			.responsive .product-list .actions > div {
				padding: 15px 0px 0px 0px;
				border-top: 1px solid #e6e6e6;
				margin: 20px 0px 0px 0px;
			}
			
				.responsive .product-list .actions > div:before {
					display: none;
				}
					
		/* Category page */
		
		.responsive .category-info {
			padding: 0px 0px 10px 0px;
		}
		
		.responsive .category-list-text-only {
			margin-bottom: 15px;
		}
		
			.responsive .category-list .row > div {
				margin-bottom: 16px;
			}
			
				.responsive .category-list-text-only .row > div {
					margin-bottom: 6px;
				}
		
		.responsive .product-filter {
			margin: 0px 0px 20px 0px;
		}
		
			.responsive .product-filter .options,
			.responsive .product-filter .list-options,
			.responsive .product-filter .list-options .limit {
				float: none;
				margin: 0px;
				clear: both;
			}
				
				.responsive .product-filter .list-options .sort {
					padding-top: 10px;
				}
				
				.responsive .product-filter .list-options .limit {
					padding-left: 0px;
				}
			
		/* Product page */
		
			/* Thumbnails */

			.responsive .product-info .thumbnails li,
			.responsive .product-info .thumbnails-left li {
				width: 25%;
				float: left;
			}
		
		/* Pagination */
		
		.responsive div.pagination .results { 
			float: none;
			width:100%;
			text-align:center;
		}
		
		.responsive div.pagination .links { 
			float: none;
			width: 100%;
			text-align: center;
		}
		
		/* Content */
		
		.responsive .login-content .left,
		.responsive .login-content .right,
		.responsive .main-content .content .left,
		.responsive .main-content .content .right,
		.responsive .checkout-content .left,
		.responsive .checkout-content .right { 
			float: none;
			width: 100%; 
		}

	/* Custom Footer
	-----------------*/
	
	.responsive .custom-footer .pattern {
		padding: 5px 0px 26px 0px;
	}
	
		.responsive .custom-footer h4 {
			padding-top: 20px;
		}
	
	/* Footer
	-----------------*/
	
	.responsive .footer .pattern {
		padding: 5px 0px 26px 0px;
	}
	
		.responsive .footer ul {
			text-align: center;
		}
		
		.responsive .footer h4, 
		.responsive .footer .strip-line {
			margin-top: 0px;
		}
	
	/* Copyright
	------------------*/
	
	.responsive .copyright {
		text-align: center;
	}
	
		.responsive .copyright ul {
			padding: 5px 0px 10px 0px;
			float: none;
		}
	
}